# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists
- List some of the popular Data Science Tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. ggplot

|Data Science Tools|
|-----------------|
|Anaconda Navigator| 
|Rstudio| 
|visual studio code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
t_min=200
t_hr=200/60
print(t_hr)

3.3333333333333335

## Author
Soham Goud